
@model AdminPresentationLayer.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Create">
    <div class="border-bottom p-3">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row">
            <h2 class="text-info pl-3">New Category</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="info" class="form-label">Category name</label>
                    <input asp-for="info" class="form-control" />
                    <span asp-validation-for="info" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-primary"> <i class="fa-solid fa-plus"></i> Create new</button>
                <a asp-controller="Category" asp-action="Index" class="btn btn-success"> <i class="fa-solid fa-arrow-rotate-left"></i> Go back</a>

            </div>
        </div>
    </div>

</form>

@section Scripts { @*Validation in client level*@
    @{
        <partial name="_ValidationScriptsPartial" />  }
}